.hidden {
    display: none !important;
    /* Ensure hidden class always hides the element */
}

#sensorDropdown {
    display: none;
    /* Default to hidden */
    animation: fadeIn 0.2s ease-in-out;
}

#sensorDropdown:not(.hidden) {
    display: block;
    /* Show dropdown when the hidden class is removed */
}

#sensorDropdown.show {
    display: block;
}

#sensorDropdownIcon {
    transition: transform 0.3s ease-in-out;
    /* Smooth rotation animation */
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    /* Add smooth animation */
}

#sensorDropdownIcon.rotate-180 {
    transform: rotate(0deg);
    /* Rotate to 0 degrees when dropdown is active */
}

#sensorDropdownIcon:not(.rotate-180) {
    transform: rotate(180deg);
    /* Default state is 180 degrees */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.active {
    position: relative;
    /* Darker gray for active button */
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: orange;
}


.blueBG {
    background-color: #E8F6F5;
}

.sidebarColor {
    background-color: #E8F6F5;
}

.blueTXT {
    color: #2C3C8A;
    background-color: #D4E3E2;
}

.blueTXT:hover {
    color: #2C3C8A;
    background-color: #B7D4D2;
    cursor: pointer;
}

.darkerBlueTXT {
    color: #2C3C8A;
}